.title {
    font-size: 12px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
}

.content {
    font-size: 10px;
    font-style: italic;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
}

.article {
    background-color: #eeff41;
    margin-bottom: 10px;
}

